NEXT_PUBLIC_SUPABASE_URL="" # Your Supabase db url

NEXT_PUBLIC_SUPABASE_ANON_KEY="" # Your Supabase db anon key (from project setting)

DATABASE_URL="" # Your MongoDB url

DB_NAME="skillgraph" # Name of your MongoDB (can be changed)