    .nav_bar{
        height: 100svh;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        z-index: 20;
        gap: 30px;
        position: fixed;
        /* background-color: rgba(255, 0, 0, 0.425); */
    }
    
    .nav_bar_1{
        background-color: var(--secondary-color);
        border-radius: 60px;
        padding: 10px 15px;
        /* position: fixed;
        top: 30px;
        left: 30px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-height: 230px;
        height: 100%;
    }
    
    .nav_bar_2{
        background-color: var(--secondary-color);
        border-radius: 60px;
        padding: 10px 15px;
        /* position: fixed;
        top: 30px;
        left: 30px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
        max-height: 80px;
        height: 100%;
    }

    .nav_item{
        background-color: var(--accent-color);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all .3s ease;

            &:hover{
                transform: scale(1.3);
            }
    }



    @media (max-width: 867px){
        .nav_bar{
            display: none;
        }

        .nav_bar_opened{
            display: flex;
        }
    }
