/* :root{
  
} */

.page {
  width: 100vw;
  max-height: 100svh;
  height: 100svh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  /* background-color: black; */
  background: none;
  overflow-x: hidden;
  overflow-y: hidden;
  /* z-index: 10; */
  position: relative;
}

.main{
  width: 100%;
  min-height: 100svh;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-color: var(--background); */
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.snip_group{
  /* flex: 1; */
  min-height: 100vh;
  width: 80%;
  display: flex; /*! */
  align-items: center;
  gap: 20px 50px;
  padding: 50px 0px;
  z-index: 10;
  position: relative;
  flex-wrap: wrap;
  line-break: normal;
  /* position: absolute;
  right: 0;
  top: 0; */
}


