    .vacancies_preview_main{
        width: 93%;
        height: 50%;
        background-color: var(--secondary-color);
        border-radius: 30px;
        color: var(--text-color);
        border: 4px solid var(--accent-color);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        z-index: 10;
        position: relative;
        overflow: hidden;
    }

    .vacancies_preview_link{
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: underline;
        position: absolute;
        top: 20px;
        left: 20px;
        color: var(--foreground);
    }

    .vacancies_preview_cards{
        width: 100%;
        height: calc(100% - 50px);
        display: flex;
        align-items: flex-end;
        gap: 40px;
        padding: 20px;
        /* overflow-x: scroll; */
        /* overflow: visible; */
        /* overscroll-behavior-x: contain; */

            /* &::-webkit-scrollbar{
                background-color: #ffffff0e;
                height: 10px;
            }

            &::-webkit-scrollbar-thumb{
                background-color: rgba(255, 255, 255, 0.582);
                border-radius: 30px;
            } */
    }



    @media (max-width: 867px){
        .vacancies_preview_main{
            width: 100%;
            height: auto;
            min-height: 380px;
            flex-shrink: 0;
        }

        .vacancies_preview_cards{
            height: auto;
            min-height: 280px;
        }
    }
