    .account_page{
        width: 100vw;
        height: 100svh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .account_page_main{
        width: 40%;
        height: 80%;
        position: fixed;
        z-index: 20;
        top: calc(50% - 40%);
        left: calc(50% - 20%);
        background-color: var(--secondary-color);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 5%;
    }

    .profile_pic{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .account_info{
        width: 500px;
        height: 600px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 20px 0px 0px 0px;
    }

    .logout_btn{
        width: 150px;
        height: 50px;
        border: none;
        outline: none;
        background-color: var(--primary-color);
        color: #fff;
        font-size: .95rem;
        cursor: pointer;
        transition: all .2s ease;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        align-content: center;
        border: 1px solid #ffffff00;

            &:hover{
                border: 1px solid red;
            }

            &:active{
                background-color: #2d463b;
            }
        /* position: absolute;
        bottom: 20px;
        left: 20px; */
    }
